div {
  text-align: center;
}
button {
  padding: 8px 28px;
  background-color: rgba(36, 235, 112, 0.842); /* Tailwind blue-600 */
  color: #ffffff;
  border: none;
  margin-top: 150px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  font-family: "Segoe UI", sans-serif;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  transition: background-color 0.25s ease, transform 0.1s ease;
}

button:hover {
  background-color: hsla(143, 71%, 40%, 0.959); /* darker blue */
  transform: translateY(-1px);
}

button:active {
  background-color: hsla(120, 76%, 48%, 0.993);
  transform: translateY(1px);
}

button:focus {
  outline: 2px solid hsla(93, 99%, 48%, 0.774); /* light blue focus ring */
  outline-offset: 2px;
}
